Repository osu-tournament-rating/otr-api, pull requests merged in 2024-11, with the labels that each got.

#518 Add endpoint for adding pooled beatmaps to a tournament
  API/Controllers/TournamentsController.cs
  API/Repositories/Implementations/ApiTournamentsRepository.cs
  API/Services/Implementations/TournamentsService.cs
  API/Services/Interfaces/ITournamentsService.cs
  Database/Repositories/Implementations/BeatmapsRepository.cs
  Database/Repositories/Implementations/TournamentsRepository.cs
  Database/Repositories/Interfaces/IBeatmapsRepository.cs
  Database/Repositories/Interfaces/ITournamentsRepository.cs
Labels: type:feature, size/L, area:beatmaps, area:tournaments, project:API, project:Database

#519 Add `DELETE` and `GET` operations for pooled beatmaps
  API/Controllers/TournamentsController.Admin.cs
  API/Controllers/TournamentsController.cs
  API/Services/Implementations/TournamentsService.cs
  API/Services/Interfaces/ITournamentsService.cs
  Database/Repositories/Implementations/TournamentsRepository.cs
  Database/Repositories/Interfaces/ITournamentsRepository.cs
Labels: type:feature, size/L, area:beatmaps, area:tournaments, project:API, project:Database

#521 Introduce `/tournaments/{id}:accept-pre-statuses`
  API.Tests/Utilities/EnumUtilsTests.cs
  API/Controllers/TournamentsController.Admin.cs
  API/Services/Implementations/TournamentsService.cs
  API/Services/Interfaces/ITournamentsService.cs
  Database/Repositories/Implementations/TournamentsRepository.cs
  Database/Repositories/Interfaces/ITournamentsRepository.cs
  Database/Utilities/EnumUtils.cs
Labels: type:feature, size/L, area:tournaments, area:admin, project:API, project:Database

#528 Encode rate limit override in client access tokens
  API/Services/Implementations/JwtService.cs
Labels: bug, size/XS, project:API

#523 Implement and test `GameBeatmapUsageCheck` and `MatchBeatmapCheck`
  DataWorkerService.Tests/AutomationChecks/Games/GameBeatmapUsageCheckTests.cs
  DataWorkerService.Tests/AutomationChecks/Matches/MatchBeatmapCheckTests.cs
  DataWorkerService.Tests/Mocks/MockResolvers.cs
  DataWorkerService/AutomationChecks/Games/GameBeatmapUsageCheck.cs
  DataWorkerService/AutomationChecks/Matches/MatchBeatmapCheck.cs
  DataWorkerService/Program.cs
  Database/Enums/Verification/GameRejectionReason.cs
  Database/Enums/Verification/GameWarningFlags.cs
  Database/Enums/Verification/MatchWarningFlags.cs
  TestingUtils/SeededData/SeededGame.cs
  TestingUtils/SeededData/SeededMatch.cs
Labels: type:feature, size/L, area:beatmaps, area:tournaments, area:processing, project:DataWorkerService, area:games

#529 Add CODEOWNERS file
  .github/CODEOWNERS
Labels: size/S

#531 Separate JWT CLI role arguments by comma
  API.Utils.Jwt/Options/GeneratorOptions.cs
Labels: bug, size/XS, project:API.Utils.JWT

#532 Do not filter ruleset by default
  API/DTOs/TournamentRequestQueryDTO.cs
Labels: bug, size/XS, area:tournaments, project:API

#535 Add UsedImplicitly to AggregatePlayerMatchStatsDTO.cs
  API/DTOs/AggregatePlayerMatchStatsDTO.cs
Labels: size/XS, type:code-quality, project:API

#536 Adjust various log levels
  DataWorkerService/AutomationChecks/AutomationCheckBase.cs
  OsuApiClient/Net/Requests/RequestHandler/DefaultRequestHandler.cs
Labels: size/S, type:code-quality, project:DataWorkerService, project:OsuApiClient

#539 Add the submitter and verifier users to tournament responses
  API/Controllers/TournamentsController.cs
  API/DTOs/TournamentCompactDTO.cs
  API/DTOs/TournamentDTO.cs
  API/Services/Implementations/TournamentsService.cs
  Database/Repositories/Implementations/TournamentsRepository.cs
  Database/Repositories/Interfaces/ITournamentsRepository.cs
Labels: type:feature, size/M, area:tournaments, project:API

#541 Condense DTOs related to `201 Created` responses
  API/DTOs/CreatedResultBaseDTO.cs
  API/DTOs/Interfaces/ICreatedResult.cs
  API/DTOs/MatchCreatedResultDTO.cs
  API/DTOs/TournamentCreatedResultDTO.cs
  API/Utilities/Extensions/MappingExtensions.cs
  API/Utilities/GenerateLocationUriAction.cs
Labels: size/M, type:code-quality, project:API

#542 Add detailed documentation about API auth strategies to swagger
  API/Authorization/AuthorizationPolicies.cs
  API/Program.cs
  API/SwaggerGen/Filters/EnumMetadataSchemaFilter.cs
  API/SwaggerGen/Filters/RegisterCustomSchemaDocumentFilter.cs
  API/SwaggerGen/SwaggerGenExtensions.cs
Labels: type:documentation, size/L, project:API, area:swagger

#547 Improve logging in the DataWorker
  API/DTOs/AccessCredentialsDTO.cs
  DataWorkerService/AutomationChecks/AutomationCheckBase.cs
  DataWorkerService/BackgroundServices/ScopeConsumingBackgroundService.cs
  DataWorkerService/Processors/Games/GameAutomationChecksProcessor.cs
  DataWorkerService/Processors/Games/GameStatsProcessor.cs
  DataWorkerService/Processors/Games/GameVerificationProcessor.cs
  DataWorkerService/Processors/ProcessorBase.cs
  DataWorkerService/Processors/Scores/ScoreAutomationChecksProcessor.cs
  DataWorkerService/Processors/Scores/ScoreVerificationProcessor.cs
  Database/Entities/Match.cs
Labels: size/M, type:code-quality, project:DataWorkerService

#549 Logging and bugfixes
  API/Authorization/AuthorizationPolicies.cs
  API/Authorization/Handlers/AccessUserResourcesAuthorizationHandler.cs
  API/Authorization/Handlers/WhitelistAuthorizationHandler.cs
  API/Authorization/Requirements/AccessUserResourcesAuthorizationRequirement.cs
  API/Authorization/Requirements/AccessUserResourcesRequirement.cs
  API/Authorization/Requirements/WhitelistAuthorizationRequirement.cs
  API/Middlewares/RequestLoggingMiddleware.cs
  API/Middlewares/WhitelistEnforcementMiddleware.cs
  API/Program.cs
  API/Utilities/Extensions/ClaimsPrincipalExtensions.cs
Labels: bug, type:documentation, size/L, type:code-quality, project:API

#537 Cause CI to fail if PR is labeled as blocked
  .github/workflows/check-blocked.yml
  .github/workflows/qodana_code_quality.yml
Labels: size/M, type:ops

#550 Add `DiagnosticsController` with `ping` endpoint
  API/Controllers/DiagnosticsController.cs
Labels: type:feature, size/S, project:API, type:ops

#543 Standardize API route documentation
  API/Controllers/BeatmapsController.cs
  API/Controllers/ClientsController.cs
  API/Controllers/FilteringController.cs
  API/Controllers/GameScoresController.Admin.cs
  API/Controllers/GameScoresController.cs
  API/Controllers/GamesController.Admin.cs
  API/Controllers/GamesController.cs
  API/Controllers/LeaderboardsController.cs
  API/Controllers/MatchesController.Admin.cs
  API/Controllers/MatchesController.cs
  API/Controllers/MeController.cs
  API/Controllers/OAuthController.cs
  API/Controllers/PlayersController.Admin.cs
  API/Controllers/PlayersController.cs
  API/Controllers/SearchController.cs
  API/Controllers/StatsController.cs
  API/Controllers/TournamentsController.Admin.cs
  API/Controllers/TournamentsController.cs
  API/Controllers/UsersController.cs
  API/DTOs/MatchRequestQueryDTO.cs
  API/DTOs/MatchesFilterDTO.cs
  API/DTOs/PaginatedRequestQueryDTO.cs
  API/DTOs/TournamentRequestQueryDTO.cs
  API/DTOs/TournamentSubmissionDTO.cs
  API/Handlers/Interfaces/IOAuthHandler.cs
  API/Program.cs
  API/Services/Implementations/MatchesService.cs
  API/Services/Implementations/TournamentsService.cs
  API/Services/Interfaces/IMatchesService.cs
  Database/Repositories/Implementations/MatchesRepository.cs
  Database/Repositories/Implementations/TournamentsRepository.cs
Labels: type:documentation, size/XXL, type:code-quality, project:API
