Repository osu-tournament-rating/otr-api, pull requests merged in 2025-01, with the labels that each got.

#577 Add `GET /games/{id}` with `verified` parameter
  .config/dotnet-tools.json
  API/Controllers/GamesController.cs
  API/Controllers/MatchesController.cs
  API/Services/Implementations/GamesService.cs
  API/Services/Interfaces/IGamesService.cs
  API/Services/Interfaces/IMatchesService.cs
  Database/Repositories/Implementations/GamesRepository.cs
  Database/Repositories/Implementations/MatchesRepository.cs
  Database/Repositories/Interfaces/IGamesRepository.cs
  Database/Utilities/Extensions/QueryExtensions.cs
Labels: type:feature, size/L, project:API, area:games

#581 Additions to `GameDTO` and `GameScoreDTO`
  API/Configurations/MapperProfile.cs
  API/Controllers/DiagnosticsController.cs
  API/DTOs/GameDTO.cs
  API/DTOs/GameScoreDTO.cs
  API/DTOs/GameWinRecordDTO.cs
  API/Services/Implementations/GameScoresService.cs
  API/Services/Implementations/GamesService.cs
Labels: type:documentation, type:feature, size/L, project:API, area:games, area:scores

#587 Update issue templates
  .github/ISSUE_TEMPLATE/new-feature.md
Labels: size/S

#583 Add support for fetching beatmapsets and beatmap attributes to the `OsuApiClient`
  OsuApiClient.Tests/Tests/GetUserTest.cs
  OsuApiClient.Tests/example.appsettings.json
  OsuApiClient/Configurations/MapperProfile.cs
  OsuApiClient/Domain/Osu/Beatmaps/Beatmap.cs
  OsuApiClient/Domain/Osu/Beatmaps/BeatmapAttributes.cs
  OsuApiClient/Domain/Osu/Beatmaps/BeatmapExtended.cs
  OsuApiClient/Domain/Osu/Beatmaps/BeatmapOwner.cs
  OsuApiClient/Domain/Osu/Beatmaps/Beatmapset.cs
  OsuApiClient/Domain/Osu/Beatmaps/BeatmapsetCovers.cs
  OsuApiClient/Domain/Osu/Beatmaps/BeatmapsetExtended.cs
  OsuApiClient/Domain/Osu/Beatmaps/BeatmapsetHype.cs
  OsuApiClient/IOsuClient.cs
  OsuApiClient/Net/Constants/Endpoints.cs
  OsuApiClient/Net/Deserialization/ValueConverters/RulesetConverter.cs
  OsuApiClient/Net/Deserialization/ValueConverters/ScoringTypeConverter.cs
  OsuApiClient/Net/Deserialization/ValueConverters/TeamTypeConverter.cs
  OsuApiClient/Net/JsonModels/Osu/Beatmaps/BeatmapAttributesJsonModel.cs
  OsuApiClient/Net/JsonModels/Osu/Beatmaps/BeatmapExtendedJsonModel.cs
  OsuApiClient/Net/JsonModels/Osu/Beatmaps/BeatmapJsonModel.cs
  OsuApiClient/Net/JsonModels/Osu/Beatmaps/BeatmapOwnerJsonModel.cs
  OsuApiClient/Net/JsonModels/Osu/Beatmaps/BeatmapsetCoversJsonModel.cs
  OsuApiClient/Net/JsonModels/Osu/Beatmaps/BeatmapsetExtendedJsonModel.cs
  OsuApiClient/Net/JsonModels/Osu/Beatmaps/BeatmapsetHypeJsonModel.cs
  OsuApiClient/Net/JsonModels/Osu/Beatmaps/BeatmapsetJsonModel.cs
  OsuApiClient/Net/JsonModels/Osu/Users/UserJsonModel.cs
  OsuApiClient/OsuClient.cs
  otrAPI.sln.DotSettings
Labels: type:feature, size/L, project:OsuApiClient
